.center {
    margin: auto;
    width: 60%;
    font-family: 'Roboto', sans-serif;
}
header {
	height: 200px;
    background-color: #4DA1A9;
}
header h1 {
	text-align: center;
	color: #F0F7F4;
	padding-top: 70px;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
html {
	margin: 0;
    padding: 0;
    height: 100%;
}
body {
	margin: 0;
    padding: 0;
    height: 100%;
    color:#89023E;
    background-color: #D7E8BA;
}
.chart{
	padding-top: 20px;
	min-width: 400px; 
	height: 500px; 
	margin: 0 auto;
	display: none
}
